@model Asp.NETMVCCRUD.Models.SelectedCategory
@{
    Layout = null;
}


@using (Html.BeginForm())
{

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.ID)

        <div class=" form-group">
            <label>Select Category</label>
            @*Normal dropdown*@
            @Html.DropDownListFor(model => model.SelectedCategoryIDs,new SelectList(Model.CategoryCollection, "CategoryID", "CategoryName"), new { id = "normalDropDown"})
       
            <input type="submit" name="categoryname" value="Submit" />
        </div>


    </div>
}

@section scripts{
    
    <script>
        $(function () {
            //normal dropdown
            $("#normalDropdown").chosen({
                disable_search_threshold : 5

            });  
        });

    </script>
    
 }








<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddorEdit</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
